div {
    position: relative;
}
#editor1 {
    border: 5px inset grey;
    height: 100%;
    width: 100%;
    background-color: white;
}
.menuButton {
    width: 16%;
    display: inline-block;
    margin-right: -4px;
    border: 3px solid green;
    background-color: green;
    text-decoration: none;
    color: white;
    height: 35px;
    padding: 1px 1px;
}
.menuButton:Hover {
    border: 3px solid black;
    background-color: black;
}
.dropbtn {
    background-color: black;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 160px;
    height: 35px;
    margin-right: -4px;
    display: inline-block;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 3px solid #f2f2f2;
    background-color: #f2f2f2;
    width: 160px;
    z-index: 2;
}
.dropdown-content button:hover {
    background-color: lightgreen
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: gray;
}
